body{
  font-family: arial;
}

#controlBar{
  border-bottom:1px solid black;
  padding-bottom: 10px;
  text-align: right;
}

.wrapper {
  padding: 2em;
  max-width:  980px;
  margin: 0 auto;
  position: relative;
  min-height: 40em;
}
.nav {
  position: absolute;
  width: 200px;
  top: 2em;
  height:100%;
}
.content {
  border:1px solid;
  border-radius: 10px;
  margin-left: 220px;
  padding: 10px;
  height:100%;
}

#title{
  padding:10px;
  font-size: 30px;
  float:left;
}

.nav{
  text-align: center;
  border-radius:10px;
  height:100%;
}

.nav > ul{
    list-style-type:none;
    padding-left: 0px;
}

.nav > ul > li {
     padding:10px;
     margin: 5px;
     border-radius: 10px;
     text-align: center;
}
.nav > ul > li a:link, .nav > ul > li a:visited {
    display: block;
    color:white;
}

#results-wrapper{
  overflow:hidden;
  width:300px;
  height:400px;
  margin:20px;
  display:inline-block;
}

#results-wrapper > ul{
  list-style-type:none;
  padding-left: 0px;
}

#results-wrapper > ul > li {
     background-color: white;
     padding:0.5em;
     margin:0;
     margin-bottom:0.5em;
     border-radius: 10px;
     text-align: left;
     color: darkslategrey;
     width:93%;
}

#results-wrapper > ul > li > * {
    padding:0.2em;
}

.button{
  display: inline-block;
  box-shadow: 3px 3px 1px #888;
  cursor: pointer;
  width:200px;
  padding:10px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

#start{
  background-color: lightgreen;
}

#reset{
  background-color:burlyWood;
}

#board{
    display:inline-block;
}

#board > svg {
    border: 2px solid blue;
    border-bottom: 8px solid darkBlue;
    border-radius: 2px;
}

.hidden{
    display:none;
}

#leaderBoard{
    display: inline-block;
    width:300px;
    height:400px;
    position:absolute;
    margin-top: 10px;
    margin-left:30px;
}

#leaderBoard > ul{
    padding-left: 0px;
    list-style-type:none;
}

#leaderBoard > ul > li{
    margin:5px;
    padding:0.5em;
    border: 1px solid black;
}

.player1 { background-color: #3D0000; color: white;}
.player2 { background-color: #DC0100; color: white;}
.player3 { background-color: #FF6C00; color: white;}
.player4 { background-color: #FFDA8E; color: black;}
.player5 { background-color: #949EA5; }

